@media (max-width: 575.98px) {
    h1{
        font-size: 34px !important;
    }
    h2{
        font-size: 28px !important;
    }
    h3{
        font-size: 24px !important;
    }
    h4{
        font-size: 20px !important;
    }
    h5{
        font-size: 18px !important;
    }
    h6{
        font-size: 16px !important;
    }
    p{
        font-size: 14px !important;
        font-weight: 300 !important;
    }
    button{
        padding: 10px 20px !important;
        font-size: 10px !important;
    }
    .navbar{
        .navbar-brand{
            img{
                width: 100px !important;
            }
        }
        .mytoggler{
            gap:5px !important;
            .line{
                width: 20px !important;
                height: 2px !important;
            }
        }
    }
    #banner{
        .banner_overlay{
            padding: 120px 0  80px 0 !important;
        }
    }
    #experties{
        padding: 50px 0 !important;
        .expItems{
            border: 1px solid #ebebeb;
            padding-top: 10px !important;
            .icon{
                width: 30px !important;
                height: 30px !important;
                margin-bottom: 10px !important;
            }
        }
    }
    #wordpress{
        .wordpress_heading{
            text-align: center;
        }
        .bannerbutton{
            display: block;
            text-align: center !important;
        }
    }
    #latest_project{
        padding: 50px 0 !important;
        .miniBtn{
            .mixitbtn{
                padding: 5px 10px !important;
                font-size: 12px !important;
            }
        }
        .project_item{
            .pictureTsxt{
                .picfeature{
                    font-size: 16px !important;
                }
            }
        }
    }

    #videoPresent{
        .colorlap{
            padding: 100px 0 !important;
            .presentHeading{
                .iconPlay{
                    width: 50px !important;
                    height: 50px !important;
                    img{
                        width: 30px !important;
                    }
                }
            }
        }
    }
    #add{
        padding: 50px 0 !important;
        padding-top: 0 !important;
    }
    footer{
        ul{
            .recentPos{
                font-size: 20px !important;
            }
        }
    }
}
@media(min-width: 576px) and (max-width: 767.98px) {
    #wordpress{
        .wordpress_heading{
            text-align: center;
        }
        .bannerbutton{
            display: block;
            text-align: center !important;
        }
    }
}
@media(min-width: 768px) and (max-width: 991.98px) {
    #wordpress{
        .wordpress_heading{
            text-align: center;
        }
        .bannerbutton{
            display: block;
            text-align: center !important;
        }
    }
}