$white       :#ffffff;
$banback     :#121212b3;
$ancorhov    :#c7b299;
$btnbgcolor  :#998675;
$btnborder   :#736357;
$para        :#8c8c8c;
$h6          :#555555;
$after       :#f1eee9;
$grdleft     :#211b19;
$grdright    :#4e3427;
$fontP       :#615855;
$ebebeb      :#ebebeb;
$minibtn     :#949494;
$d1d1d1      :#d1d1d1;
$darpink     :#362f2d;
$dpover      :#111111b3;
$videoplayer :#11111180;