@import "../mixins/mixin";
@import "../variable/variabls";
/* realisation part---------------*/
#realisation{
    .re_heading{
        text-align: center;
        h4{
            @include h4;
        }
        p{
            @include p;
        }
    }
    .res_img{
        margin-top: 36px;
        width: 100%;
        img{
            width: 100%;
            transform: scaleX(1.05);
        }
    }
}