*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
}
li{
    display: inline-block;
    list-style: none;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
p{
    text-transform: capitalize;
    font-family: 'montseerat', sans-serif;
}
img{
    vertical-align: middle;
}
html,body{
    overflow-x: hidden;
}
button{
    font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}